# Configuration file

general {
    # Colors must be specified in #RRGGBB format
    S:"Absorption icon colors" <
        #ffd700
     >
    B:"Display number of absorption bars?"=true
    B:"Display number of health bars?"=true

    # Colors must be specified in #RRGGBB format
    S:"Health icon colors" <
        #FF1313
        #ffa3e0
     >

    # Min: 0.0
    # Max: 1.0
    D:"Text scale"=1.0
}


