# Configuration file

##########################################################################################################
# ai
#--------------------------------------------------------------------------------------------------------#
# Settings regarding custom ai for mobs
##########################################################################################################

ai {
    # List for of pairs containing which mobs auto target others. Syntax is [mob id]-[mob id or class name] where second value is the target.
    #  e.g. minecraft:zombie-minecraft:skeleton makes all zombies target skeletons [default: ]
    S:"Auto Target List" <
     >

    # Whitelist for blocks, which can be actively broken. Usage: <registry name;classname;oredict> put "!" infront to exclude blocks [default: [minecraft:glass], [minecraft:stained_glass], [minecraft:fence_gate], [BlockDoor], [!minecraft:iron_door], [minecraft:glass_pane], [minecraft:stained_glass_pane]]
    S:"Block Whitelist" <
        minecraft:glass
        minecraft:stained_glass
        minecraft:fence_gate
        BlockDoor
        !minecraft:iron_door
        minecraft:glass_pane
        minecraft:stained_glass_pane
        minecraft:cobblestone
     >

    # Treat Block Whitelist as Blocklist [default: false]
    B:"Block as Blacklist"=false

    # Should mobs be able to break tile entities? Evaluated before the break list [default: true]
    B:"Break Tiles"=true

    # Chance for a mob to be able to break blocks. [range: 0.0 ~ 1.0, default: 0.3]
    S:"Breaker Chance"=0.3

    # Item which will be given to mobs who can break blocks. Set to nothing to not give any items. [default: minecraft:diamond_pickaxe]
    S:"Breaking item"=minecraft:diamond_pickaxe

    # Difficulty at which mobs are able to break blocks[default: 0.0]
    D:"Difficulty Break AI"=10.0

    # Difficulty at which mobs are able to steal items[default: 0.0]
    D:"Difficulty Steal AI"=10.0

    # Chance for neutral mobs to be aggressive [range: 0.0 ~ 1.0, default: 0.2]
    S:"Neutral Aggressive Chance"=0.01

    # Delay for the coroutil repair block. Coroutil integration needs to be enabled.
    I:"Repair Ticks"=1200

    # Use the block breaking sound instead of a knocking sound [default: false]
    B:Sound=true

    # Chance for a mob to be able to steal items. [range: 0.0 ~ 1.0, default: 0.5]
    S:"Stealer Chance"=0.5
}


##########################################################################################################
# attributes
#--------------------------------------------------------------------------------------------------------#
# Settings for attribute modifiers
##########################################################################################################

attributes {
    # Damage will be multiplied by difficulty*0.008*x. Set to 0 to disable.[default: 1.0]
    D:"Damage Increase Multiplier"=0.25

    # Health will be multiplied by difficulty*0.016*x. Set to 0 to disable.[default: 1.0]
    D:"Health Increase Multiplier"=0.25

    # Knockback will be increased by difficulty*0.002*x. Set to 0 to disable.[default: 1.0]
    D:"Knockback Increase"=0.5

    # Magic resistance will be increased by difficulty*0.0016*x. Set to 0 to disable.[default: 1.0]
    D:"Magic Resistance Increase"=0.25

    # Damage will be multiplied by at maximum this. Set to 0 means no limit. [default: 3.0]
    D:"Max Damage Increase"=3.0

    # Health will be multiplied by at maximum this. Set to 0 means no limit[default: 5.0]
    D:"Max Health Increase"=5.0

    # Maximum increase in knockback. [range: 0.0 ~ 1.0, default: 0.5]
    S:"Max Knockback"=0.5

    # Maximum increase in magic resistance. Magic reduction is percentage [range: 0.0 ~ 1.0, default: 0.4]
    S:"Max Magic Resistance"=0.4

    # Projectile damage will be multiplied by maximum of this.[default: 2.0]
    D:"Max Projectile Damage"=2.0

    # Maximum increase in speed. [range: 0.0 ~ 1.0, default: 0.1]
    S:"Max Speed"=0.25

    # Projectile Damage will be multiplied by 1+difficulty*0.008*x. Set to 0 to disable.[default: 1.0]
    D:"Projectile Damage Increase"=0.25

    # Round health to the nearest x. Set to 0 to disable.[default: 0.5]
    D:"Round HP"=0.5

    # Speed will be increased by difficulty*0.0008*x. Set to 0 to disable.[default: 1.0]
    D:"Speed Increase"=0.25
}


##########################################################################################################
# debug
#--------------------------------------------------------------------------------------------------------#
# Debugging
##########################################################################################################

debug {
    # Enable showing of entity paths (might/will cause lag) [default: false]
    B:"Path Debugging"=false
}


##########################################################################################################
# equipment
#--------------------------------------------------------------------------------------------------------#
# Configs regarding mobs spawning with equipment
##########################################################################################################

equipment {
    # Base chance for each additional armor pieces [range: 0.0 ~ 1.0, default: 0.3]
    S:"Additional Equipment Chance"=0.10

    # Adds additional x*difficulty% to base enchanting chance[default: 0.3]
    D:"Enchanting Addition"=0.3

    # Base chance for each armor pieces to get enchanted. [range: 0.0 ~ 1.0, default: 0.2]
    S:"Enchanting Chance"=0.2

    # Adds additional x*difficulty% to base equip chance[default: 0.3]
    D:"Equipment Addition"=0.10

    # Base chance that a mob can have one piece of armor [range: 0.0 ~ 1.0, default: 0.1]
    S:"Equipment Chance"=0.10

    # Blacklist for mods. Add modid to prevent items from that mod being used. (For individual items use the equipment.json) [default: ]
    S:"Item Blacklist" <
     >

    # Adds additional x*difficulty% to base item chance[default: 0.2]
    D:"Item Chance add"=0.10

    # Chance for mobs to have an item in offhand. [range: 0.0 ~ 1.0, default: 0.05]
    S:"Item Equip Chance"=0.07

    # Use blacklist as whitelist [default: false]
    B:"Item Whitelist"=false

    # Should mobs drop the armor equipped through this mod? (Other methods e.g. through vanilla is not included) [default: false]
    B:"Should drop equipment"=false

    # Chance for mobs to have a weapon. [range: 0.0 ~ 1.0, default: 0.05]
    S:"Weapon Chance"=0.05

    # Adds additional x*difficulty% to base weapon chance[default: 0.3]
    D:"Weapon Chance Add"=0.25
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# With default value every difficulty perk maxes out at difficulty 250
##########################################################################################################

general {
    # Time in ticks for which the difficulty shouldnt increase at the beginning. One full minecraft day is 24000 ticks[min: 0, default: 0]
    I:"Difficulty Delay"=480000

    # Disable/Enables the whole difficulty scaling of this mod
    B:"Enable difficulty scaling"=true

    # Disable/Enable friendly fire for owned pets. [default: false]
    B:FriendlyFire=false

    # Wether difficulty should only increase with at least one online players or not [default: false]
    B:"Ignore Players"=false

    # Light level, blocks can have at max, so mobs can spawn on them. [range: 0 ~ 15, default: 7]
    I:Light=3

    # Mobs to include for the new light spawning rules. [default: ]
    S:"Light list" <
     >

    # Turn the list list whitelist to blacklist [default: false]
    B:"Light list blacklist"=false

    # Blacklist for pet you should't be able to give armor to. Pets from mods, which have custom armor should be included here. [default: ]
    S:"Pet Blacklist" <
        minecraft:spider
     >

    # Treat pet blacklist as whitelist [default: false]
    B:"Pet Whitelist"=false

    # Should punish time skipping with e.g. bed, commands? If false, difficulty will increase by 0.1 regardless of skipped time. [default: true]
    B:"Punish Time Skip"=true
}


##########################################################################################################
# gui
#--------------------------------------------------------------------------------------------------------#
# Gui Configs
##########################################################################################################

gui {
    # Textformatting codes for the display of the difficulty
    # Valid values:
    # BLACK
    # DARK_BLUE
    # DARK_GREEN
    # DARK_AQUA
    # DARK_RED
    # DARK_PURPLE
    # GOLD
    # GRAY
    # DARK_GRAY
    # BLUE
    # GREEN
    # AQUA
    # RED
    # LIGHT_PURPLE
    # YELLOW
    # WHITE
    S:"Difficulty color"=DARK_PURPLE
    I:"Gui X"=5
    I:"Gui Y"=5

    # Scaling of the difficulty text [range: 0.0 ~ 5.0, default: 1.0]
    S:"Text Scale"=0.0
}


##########################################################################################################
# integration
#--------------------------------------------------------------------------------------------------------#
# Settings for mod integration
##########################################################################################################

integration {
    # Should the coroutils repair block be used. (Requires coroutils mod)
    B:"Use CoroUtils Mod"=true

    # Should mobs be able to use weapons from the reforged mod. (Requires reforged mod)
    B:"Use Reforged Mod"=true

    # Should the scaling health mods difficulty system be used instead of this ones. (Requires scaling health mod)
    B:"Use Scaling Health Mod"=true

    # Should mobs be able to use techguns weapons. (Requires techguns mod)
    B:"Use Techguns Mod"=true
}


##########################################################################################################
# list
#--------------------------------------------------------------------------------------------------------#
# Black/Whitelist for various stuff
##########################################################################################################

list {
    # Treat ARMOR flags as whitelist [default: false]
    B:"Armor Equip Whitelist"=true

    # Treat ATTRIBUTES flags as whitelist [default: false]
    B:"Attribute Whitelist"=true

    # Treat SWIMMRIDE flags as whitelist [default: false]
    B:"Boat Whitelist"=true

    # Treat BLOCKBREAK flags as whitelist [default: false]
    B:"Breaker Whitelist"=true

    # Treat HELDITEMS flags as whitelist [default: false]
    B:"Held Equip Whitelist"=true

    # Treat USEITEM flags as whitelist [default: false]
    B:"Item Use Whitelist"=true

    # Treat LADDER flags as whitelist [default: false]
    B:"Ladder Whitelist"=true

    # By default the mod only modifies EntityMobs. Add other entities here if you want to apply modifications to them. Usage: <entity registry name> followed by any of:
    # [ALL,ATTRIBUTES,ARMOR,HELDITEMS,BLOCKBREAK,USEITEM,LADDER,STEAL,SWIMMRIDE,TARGETVILLAGER,REVERSE].
    # Leave empty to apply them all and REVERSE to reverse all flags. Some flags do nothing for certain mobs!
    # example: minecraft:sheep|REVERSE|ATTRIBUTES will add sheep to attributes modification (since default is a blacklist)
    # or minecraft:sheep|ATTRIBUTES will add sheep to everything except attributes
    #  [default: [cqrepoured:lich], [exoticbirds:lyrebird], [ancientwarfarenpc:faction.leader], [exoticbirds:owl], [sbmlizarddogo:lizard], [multimob:dummy], [ancientwarfarenpc:aw_npc_combat], [exoticbirds:woodpecker], [lumen:faerie], [grimoireofgaia:vase], [cqrepoured:flying_skull], [iceandfire:snowvillager], [ebwizardry:ice_giant], [minecraft:horse], [ebwizardry:blaze_minion], [ebwizardry:decoy], [ancientwarfarenpc:faction.trader], [minecraft:llama], [lumen:firefly], [biomesoplenty:wasp], [grimoireofgaia:spawner_minotaur], [testdummy:dummy], [cqrepoured:nether_dragon], [cqrepoured:illusion_walker_king], [grimoireofgaia:spawner_ender_dragon_girl], [iceandfire:icedragon], [grimoireofgaia:spawner_sphinx], [grimoireofgaia:centaur], [primitivemobs:chameleon], [grimoireofgaia:cobble_golem], [minecraft:donkey], [merpig:merpig], [exoticbirds:bluejay], [exoticbirds:snow_phoenix], [quark:stoneling], [grimoireofgaia:creeper_girl], [lumen:will_o_wisp], [cqrepoured:human], [bearwithme:entities/black_bear], [pvj:pvj_small_spider], [ancientwarfarenpc:faction.mounted_archer], [quark:frog], [ancientwarfarenpc:aw_npc_priest], [ancientwarfarenpc:faction.leader.elite], [pvj:pvj_coyote], [lumen:psi_firefly], [minecraft:mooshroom], [exoticbirds:roadrunner], [minecraft:villager], [lumen:ember], [iceandfire:seaserpent], [primitivemobs:filch_lizard], [primitivemobs:void_eye], [grimoireofgaia:mermaid], [cqrepoured:illager], [cqrepoured:necromancer], [ancientwarfarenpc:faction.spellcaster], [grimoireofgaia:campfire], [ebwizardry:wizard], [exoticbirds:ostrich], [grimoireofgaia:dwarf], [ancientwarfarenpc:aw_npc_bard], [quark:crab], [minecraft:parrot], [grimoireofgaia:gryphon], [ebwizardry:silverfish_minion], [exoticbirds:flamingo], [quark:archaeologist], [mod_lavacow:lavacow], [exoticbirds:water_phoenix], [pvj:pvj_grizzly_bear], [ancientwarfarenpc:faction.siege_engineer], [cqrepoured:pirate], [futuremc:bee], [exoticbirds:robin], [cqrepoured:pirate_parrot], [mod_lavacow:mimic], [mod_lavacow:salamander], [grimoireofgaia:satyress], [mutantbeasts:spider_pig], [ebwizardry:zombie_minion], [mod_lavacow:lilsludge], [grimoireofgaia:dryad], [eerieentities:wisp], [ancientwarfarenpc:aw_npc_worker], [exoticbirds:hummingbird], [grimoireofgaia:chest], [lumen:lightning_bug], [primitivemobs:sheepman], [exoticbirds:gouldianfinch], [ebwizardry:husk_minion], [grimoireofgaia:ender_eye], [coroutil:bat_smart], [bearwithme:entities/panda_bear], [grimoireofgaia:spawner_gorgon], [minecraft:mule], [cqrepoured:giant_tortoise], [ancientwarfarenpc:faction.civilian.female], [exoticbirds:seagull], [grimoireofgaia:vase_nether], [quark:leash_knot], [doggytalents:dog], [mod_lavacow:unburied], [mutantbeasts:creeper_minion], [ancientwarfarenpc:faction.bard], [exoticbirds:kookaburra], [cqrepoured:giant_endermite], [exoticbirds:swan], [exoticbirds:twilight_phoenix], [exoticbirds:nether_phoenix], [dailies:bailey], [ancientwarfarenpc:faction.cavalry], [mod_lavacow:raven], [lumen:companion_orb], [minecraft:chicken], [betternether:firefly], [grimoireofgaia:yuki-onna], [exoticbirds:desert_phoenix], [futuremc:tropical_fish], [cqrepoured:walker], [exoticbirds:heron], [mod_lavacow:weta], [pvj:pvj_beach_starfish], [grimoireofgaia:hunter], [ancientwarfarenpc:aw_npc_courier], [grimoireofgaia:ant_hill], [exoticbirds:kingfisher], [iceandfire:dread_horse], [pvj:pvj_starfish], [ebwizardry:phoenix], [exoticbirds:peafowl], [grimoireofgaia:weresheep], [iceandfire:myrmex_swarmer], [minecraft:polar_bear], [primitivemobs:dodo], [cqrepoured:boarman], [iceandfire:stymphalianbird], [minecraft:pig], [grimoireofgaia:trader], [minecraft:sheep], [ebwizardry:stray_minion], [minecraft:ender_dragon], [exoticbirds:cassowary], [lumen:companion_orb_a], [cqrepoured:gremlin], [cqrepoured:boar_mage], [minecraft:snowman], [quark:foxhound], [melongolem:tiny_melon_golem], [cqrepoured:goblin], [grimoireofgaia:valkyrie], [futuremc:salmon], [cqrepoured:triton], [iceandfire:if_pixie], [minecraft:villager_golem], [waddles:adelie_penguin], [grimoireofgaia:holstaurus], [ebwizardry:spider_minion], [cqrepoured:enderman], [primitivemobs:grovesprite], [cqrepoured:golem], [minecraft:squid], [ebwizardry:vex_minion], [minecraft:skeleton_horse], [iceandfire:myrmex_soldier], [minecraft:cow], [ancientwarfarenpc:aw_npc_siege_engineer], [exoticbirds:booby], [ancientwarfarenpc:faction.soldier], [iceandfire:firedragon], [cqrepoured:walker_king], [iceandfire:hippocampus], [cqrepoured:giant_silverfish], [ebwizardry:shadow_wraith], [netherex:gold_golem], [cqrepoured:npc], [exoticbirds:cloud_phoenix], [pvj:pvj_snail], [cqrepoured:orc], [cqrepoured:ogre], [iceandfire:myrmex_queen], [ancientwarfarenpc:faction.priest], [melongolem:melon_golem], [exoticbirds:pigeon], [minecraft:shulker], [pvj:pvj_duck], [iceandfire:myrmex_sentinel], [mutantbeasts:mutant_snow_golem], [exoticbirds:vulture], [exoticbirds:magpie], [cqrepoured:giant_spider], [ebwizardry:storm_elemental], [iceandfire:myrmex_royal], [minecraft:rabbit], [exoticbirds:kiwi], [ebwizardry:spirit_wolf], [iceandfire:myrmex_egg], [exoticbirds:emperorpenguin], [grimoireofgaia:spawner_vampire], [ebwizardry:lightning_wraith], [iceandfire:if_mob_skull], [ancientwarfarenpc:faction.archer], [cqrepoured:mummy], [futuremc:panda], [primitivemobs:lost_miner], [ancientwarfarenpc:faction.archer.elite], [cqrepoured:dummy], [futuremc:cod], [grimoireofgaia:kikimora], [outfox:fox], [ebwizardry:skeleton_minion], [exoticbirds:crane], [exoticbirds:toucan], [grimoireofgaia:goblin], [grimoireofgaia:cyclops], [netherex:pigtificate], [mod_lavacow:scarecrow], [grimoireofgaia:spawner_valkyrie], [ebwizardry:ice_wraith], [exoticbirds:parrot], [lumen:rad_flame], [cqrepoured:mandril], [minecraft:bat], [cqrepoured:spectre], [ancientwarfarenpc:faction.soldier.elite], [ebwizardry:spirit_horse], [iceandfire:amphithere], [ancientwarfarenpc:aw_npc_trader], [exoticbirds:budgerigar], [grimoireofgaia:slime_girl], [futuremc:pufferfish], [grimoireofgaia:spawner_beholder], [exoticbirds:pelican], [grimoireofgaia:horse], [cqrepoured:pirate_captain], [grimoireofgaia:ender_girl], [iceandfire:dragonskull], [cqrepoured:giant_silverfish2], [cqrepoured:giant_silverfish1], [grimoireofgaia:ender_dragon_girl], [ebwizardry:wither_skeleton_minion], [cqrepoured:skeleton], [netherex:pigtificate_leader], [iceandfire:dragonegg], [grimoireofgaia:bee], [primitivemobs:traveling_merchant], [minecraft:zombie_horse], [exoticbirds:phoenix], [exoticbirds:ender_phoenix], [bearwithme:entities/grizzly_bear], [pvj:pvj_fly], [iceandfire:myrmex_worker], [pvj:pvj_clam], [cqrepoured:dwarf], [cqrepoured:minotaur], [iceandfire:stonestatue], [pvj:pvj_firefly], [iceandfire:hippogryph], [grimoireofgaia:cyan_flower], [grimoireofgaia:harpy_wizard], [exoticbirds:cardinal], [minecraft:ocelot], [exoticbirds:duck], [iceandfire:deathworm], [primitivemobs:lily_lurker], [minecraft:wolf], [ancientwarfarenpc:faction.civilian.male], [iceandfire:if_cockatrice], [cqrepoured:zombie]]
    S:"More Entities" <
     >

    # Treat STEAL flags as whitelist [default: false]
    B:"Steal Whitelist"=true

    # Treat TARGETVILLAGER flags as whitelist [default: false]
    B:"Villager Whitelist"=true
}


